<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>


    <bean id="door" class="com.mycode.entity.annotation.Door" />
    <bean id="ctt" class="com.mycode.entity.annotation.Door"/>
    <bean id="room" class="com.mycode.entity.annotation.Room"/>
    <bean id="2room2" class="com.mycode.entity.annotation.Room"/>


    <!-- autowired -->
    <bean id="houseByAutoWired" class="com.mycode.entity.annotation.House"/>

    <!-- resource -->

    <bean id="houseByResource" class="com.mycode.entity.annotation.HouseNew"/>


    <!-- Inject -->

    <bean id="houseByInject" class="com.mycode.entity.annotation.HouseInject"/>

</beans>